# Node.js
node_modules/

# Build files
dist/
build/
*.log
.next/static/webpack/
# Environment variables
.env

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# JetBrains IDEs
.idea/
*.iml
*.iws

# Editor-specific files
*.sublime-*

# Logs and databases
*.log
*.sqlite
*.db

# OS-specific files
Thumbs.db
Desktop.ini
